<div class="container">
    <div class="row">
        <div class ="col">
            <div id="featured_products_carousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#featured_products_carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#featured_products_carousel" data-slide-to="1" class="active"></li>
                    <li data-target="#featured_products_carousel" data-slide-to="2" class="active"></li>
                </ol>
                <div class="carousel-inner">
                    <% @first_three_from_last_ten.each_with_index do |product, i| %>
                        <% if i == 0 %>
                            <div class="carousel-item active">
                                <% image_tag(product.image.url(:list_size), class:"d-block w-100") %>
                            </div>
                        <% end %>

                        <div class="carousel-item">
                            <% image_tag(product.image.url(:list_size), class:"d-block w-100") %>        
                        </div>
                    <% end %>
                </div>
                <a class="carousel-control-prev" href="#featured_products_carousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#featured_products_carousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>