<div class="container">
    <div class="row">
        <div class= "col-lg-3">
            <h1 class="my-4">Shop by Category:</h1>
            <div class="list-group">
                <% @categories.each do |category| %>
                    <%= link_to category.name, category, class:'list-group-item' %>
                <% end %>
            </div>
        </div>

        <div class= "col-lg-9">
            <%= render :partial => 'partials/carousel'%>
            <div class="row">
                <%= render :partial => 'partials/product_card', :collection => @products_on_sale, :as => :product%>
            </div>
        </div>
    </div>
</div>