<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <h1><%= @category.name%></h1>
        </div>
    </div>
    <div class="row">
        <%= render :partial => 'partials/product_card', :collection => @products_in_tag, :as => :product%>
    </div>
</div>